{% extends 'base.html' %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <label for="">Title: </label>
        <input type="text" value={{post.title}} name="title" required>
        <label for="">Post Content: </label>
        <input type="text" value={{post.content}} name="content" required>

        {% for tag in tags %}
            <input 
                type="checkbox" 
                id = "tag_{{tag.id}}" 
                value = {{tag.id}} 
                name = 'tags'
                {% if tag in post.tags %} checked {% endif %}
            >
            <label for="tag_{{tag.id}}">{{tag.name}}</label>
        {% endfor %}

        <a href="/posts/{{post.id}}">Cancel</a>
        <button>Edit</button>
    </form>
{% endblock %}