{% extends 'base.html' %}

{% block title %}
    User Detail
{% endblock %}

{% block content %}
    <h1>Create a user</h1>
    <form action="/users" method="POST">
        <label for="">First Name: </label>
        <input type="text" placeholder="Enter a first name" name="first">
        <label for="">Last Name: </label>
        <input type="text" placeholder="Enter a last name" name="last">
        <label for="">Image URL: </label>
        <input type="text" placeholder="Provide an image of this user" name="image">
        <a href="/users">Cancel</a>
        <button type="submit">Add</button>
    </form>
{% endblock %}